<div class="card">
  <div style="display: flex;">
    <button id="floorplan-prev">&lt;</button>
    <span style="flex-grow: 1; text-align: center">
      <input type="text" id="floorplan-name" class="form-control">
    </span>
    <button id="floorplan-next">&gt;</button>
    <button id="floorplan-upload">📂</button>
    <button id="floorplan-remove">-</button>
    <button id="floorplan-add">+</button>
  </div>

  <img data-image-id="lol" id="floorplan-img"/>

  <input type="file" accept="image/*" id="floorplan-image-upload" style="display: none">
</div>

<script>
  $(() => {
    const $name = $('#floorplan-name');
    const $img = $('#floorplan-img');

    let data = <%= raw floorplan.data.to_json %>
    let images = {<% floorplan.images.each do |image| %><%= image.id %>: '<%= url_for(image) %>',<% end %>}
    let currentFloorplan = 0;

    const switchFloorplan = (floorplanId) => {
      $name.val(data[floorplanId].name);
      $img.attr('src', images[data[floorplanId].image_id]);
      $img.data('image-id', data[floorplanId].image_id);
      currentFloorplan = floorplanId;
    }

    $('#floorplan-prev').click(() => {
      if(currentFloorplan - 1 < 0)
        switchFloorplan(data.length-1);
      else
        switchFloorplan(currentFloorplan - 1);
    });

    $('#floorplan-next').click(() => {
      if(currentFloorplan + 1 >= data.length)
        switchFloorplan(0);
      else
        switchFloorplan(currentFloorplan + 1);
    });

    $('#floorplan-remove').click(() => {
      data.splice(currentFloorplan, 1);
      updateServer();
      switchFloorplan(0);
    });

    $('#floorplan-upload').click(() => {
      $('#floorplan-image-upload').click();
    });

    $('#floorplan-image-upload').change((event) => {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('image', file);
      
      $.ajax({
        url: '<%= place_floorplan_upload_file_path(place_id: floorplan.place.id, floorplan_id: floorplan.id) %>',
        method: 'PATCH',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          data[currentFloorplan].image_id = response.id;
          images[response.id] = response.url;
          updateServer();
          switchFloorplan(currentFloorplan)
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    $('#floorplan-add').click(() => {
      addFloorplan();
      switchFloorplan(data.length-1);
    });

    const addFloorplan = () => {
      data.push({image_id: undefined, name: 'New Floorplan'});
    }

    $name.keydown(debounce(() => {
      data[currentFloorplan].name = $name.val();

      updateServer();
    }, 400));

    const updateServer = () => {
      const dataToSend = data.filter(item => item.image_id);
      $.ajax({
        url: '<%= place_floorplan_update_data_path(place_id: floorplan.place.id, floorplan_id: floorplan) %>',
        method: 'PATCH',
        data: JSON.stringify({data: dataToSend}),
        contentType: 'application/json',
        success: function(response) {
          console.log(response);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    if(!data.length)
      addFloorplan();

    switchFloorplan(0);
  })
</script>
