<div class="card">
  <div style="display: flex;">
    <button id="floorplan-prev">&lt;</button>
    <span style="flex-grow: 1; text-align: center">
      <input type="text" id="floorplan-name" class="form-control">
    </span>
    <button id="floorplan-next">&gt;</button>
    <button id="floorplan-upload">📂</button>
    <button id="floorplan-remove">-</button>
    <button id="floorplan-add">+</button>
  </div>

  <img id="floorplan-img"/>

  <input type="file" accept="image/*" id="floorplan-image-upload" style="display: none">
</div>

<script>
  $(() => {
    const $name = $('#floorplan-name');
    const $img = $('#floorplan-img');

    let data = <%= raw floorplan.data.to_json %>
    const nonDeletedFloorplans = () => data.filter(item => !item.deleted);
    let images = {<% floorplan.images.each do |image| %><%= image.id %>: '<%= url_for(image) %>',<% end %>}
    let currentFloorplan;

    const switchFloorplan = (floorplan) => {
      $name.val(floorplan.name);
      $img.attr('src', images[floorplan.image_id]);
      currentFloorplan = floorplan;
    }

    $('#floorplan-prev').click(() => {
      const floorplans = nonDeletedFloorplans();
      const next = floorplans.indexOf(currentFloorplan)-1;
      if(next < 0)
        switchFloorplan(floorplans[[floorplans.length-1]]);
      else
        switchFloorplan(floorplans[next]);
    });

    $('#floorplan-next').click(() => {
      const floorplans = nonDeletedFloorplans();
      const next = floorplans.indexOf(currentFloorplan)+1;
      if(next >= floorplans.length)
        switchFloorplan(floorplans[0]);
      else
        switchFloorplan(floorplans[next]);
    });

    $('#floorplan-remove').click(() => {
      data[data.indexOf(currentFloorplan)].deleted = true;
      updateServer();
      switchFloorplan(nonDeletedFloorplans()[0]);
    });

    $('#floorplan-upload').click(() => {
      $('#floorplan-image-upload').click();
    });

    $('#floorplan-image-upload').change((event) => {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('image', file);
      
      $.ajax({
        url: '<%= place_floorplan_upload_file_path(place_id: floorplan.place.id, floorplan_id: floorplan.id) %>',
        method: 'PATCH',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          data[data.indexOf(currentFloorplan)].image_id = response.id;
          images[response.id] = response.url;
          updateServer();
          switchFloorplan(currentFloorplan)
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    $('#floorplan-add').click(() => {
      addFloorplan();
      switchFloorplan(data[data.length-1]);
    });

    const addFloorplan = () => {
      data.push({id: data.length, image_id: undefined, name: 'New Floorplan'});
    }

    $name.keydown(debounce(() => {
      data[data.indexOf(currentFloorplan)].name = $name.val();

      updateServer();
    }, 400));

    const updateServer = () => {
      console.log(data);
      const dataToSend = data.filter(item => item.image_id);
      $.ajax({
        url: '<%= place_floorplan_update_data_path(place_id: floorplan.place.id, floorplan_id: floorplan) %>',
        method: 'PATCH',
        data: JSON.stringify({data: dataToSend}),
        contentType: 'application/json',
        success: function(response) {
          console.log(response);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    if(!data.length)
      addFloorplan();

    switchFloorplan(nonDeletedFloorplans()[0]);
  })
</script>
