<%
@title = "Edit #{@place.name}"
@back_url = place_floorplans_path
%>

<div class="card">
  <%= form_with url: place_floorplan_path(@floorplan), method: :patch, model: @floorplan do |f| %>
    <div class="mb-3">
      <%= f.label :name, { class: "form-label" } %>
      <%= f.text_field :name, value: @floorplan.name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :images, class: "form-label" %>
      <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
    </div>

    <%= f.submit "Edit", class: "btn btn-success" %>
  <% end %>

  <hr />

  <select id="tool" class="mb-2 form-control" data-test="add-or-remove">
    <option>Add</option>
    <option>Remove</option>
  </select>

  <% @floorplan.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>