<%
  @title = "Colour Set - #{@colour_set.place.name}"
  @back_url = places_path
%>

<% if @errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= pluralize(@errors.count, "error") %> prohibited this place from being saved:</h4>
    <ul class="mb-0">
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card">
  <%= form_with url: place_colour_set_path, model: @colour_set do |f| %>
    <div class="mb-3">
      <%= f.label :description, { class: "form-label" } %>
      <%= f.text_field :description, class: 'form-control', data: { test: 'name' }, required: true, minlength: '4' %>
    </div>
    <%= f.submit "Update", class: "btn btn-success" %>
  <% end %>

  <div class="alert alert-danger d-none" id="colour-error" role="alert">
    <h4 class="alert-heading">Failed to create</h4>
    <span id="error-message"></span>
  </div>

  <table id='colour_sets'>
    <thead>
    <tr>
      <th>Colour</th>
      <th>Grade</th>
      <th>Tint</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" id="new_colour" class="form-control" /></td>
      <td><input type="text" id="new_grade" class="form-control" /></td>
      <td><input type="color" id="new_map_tint_colour" class="form-control" /></td>
      <td><button id="add_new_colour" class="btn btn-secondary">+</button></td>
    </tr>
    <% @colour_set.colours.each do |colour| %>
      <tr data-colour-id=<%= colour.id %>>
        <td><%= colour.colour %></td>
        <td><%= colour.grade %></td>
        <td><%= colour.map_tint_colour %></td>
        <td><button name='remove-colour-set' class='btn btn-secondary'>-</button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(() => {
      const $tbody = $('#colour_sets tbody');
      const $error = $('#colour-error');

      $('#add_new_colour').click(() => {
          $error.removeClass('d-block').addClass('d-none');

          const colourSet = {
            route_set_colour_set_id: <%= @colour_set.id %>,
            colour: $('#new_colour').val(),
            grade: $('#new_grade').val(),
            map_tint_colour: $('#new_map_tint_colour').val()
          }

          $.ajax({
            url: '<%= place_colour_set_colours_path(colour_set_id: @colour_set.id) %>',
            method: 'POST',
            data: { colour_set_colour: colourSet },
            success: function(response) {
              colourSet.$elem = addColourSet(colourSet);
              $('#new_colour').val('');
              $('#new_grade').val('');
            },
            error: function(xhr, status, error) {
              $error.removeClass('d-none').addClass('d-block');
              $error.find('#error-message').text(JSON.stringify(xhr.responseJSON));
            }
          });
      })

      $(document).on('click', '[name=remove-colour-set]', (e) => {
          $error.removeClass('d-block').addClass('d-none');
          const $row = $(e.currentTarget).closest('tr');
          const colourId = $row.data('colour-id');
          $.ajax({
            url: '<%= place_colour_set_colour_path(colour_set_id: @colour_set.id, id: "colour-id") %>'.replace('colour-id', colourId),
            method: 'DELETE',
            success: function(response) {
              $row.remove();
            },
            error: function(xhr, status, error) {
              $error.removeClass('d-none').addClass('d-block');
              $error.find('#error-message').text(JSON.stringify(xhr.responseJSON));
            }
          });
      })

      const addColourSet = (colourSet) => {
          const $elem = $(
            `<tr data-colour-set-id='${colourSet.id}'>
              <td>${colourSet.colour}</td>
              <td>${colourSet.grade}</td>
              <td>${colourSet.map_tint_colour}</td>
              <td><button name='remove-colour-set' class='btn btn-secondary'>-</button>
              </td>
            </tr>`);
          $tbody.append($elem);
          return $elem;
      }
  })
</script>
