<%
  @title = "Add Colour Set - #{@new_colour_set_form.place.name}"
  @back_url = places_path
%>

<% if @new_colour_set_form.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= pluralize(@new_colour_set_form.errors.count, "error") %> prohibited this place from being saved:</h4>
    <ul class="mb-0">
      <% @new_colour_set_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card">
  <%= form_with url: place_colour_sets_path, model: @new_colour_set_form do |f| %>
    <div class="mb-3">
      <%= f.label :description, { class: "form-label" } %>
      <%= f.text_field :description, class: 'form-control', data: { test: 'name' }, required: true, minlength: '4' %>
    </div>
    <%= f.submit "Add", class: "btn btn-success" %>
  <% end %>

  <table>
    <thead>
    <tr>
      <th>Colour</th>
      <th>Grade</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" id="new_colour" class="form-control" /></td>
      <td><input type="text" id="new_grade" class="form-control" /></td>
      <td><button id="add_new_colour" class="btn btn-secondary">+</button></td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  $(() => {
      let colourSets = []
      let lastId = 0;

      $('#add_new_colour').click(() => {
          colourSets.push({id: lastId++, colour: $('#new_colour').val(), grade: $('#new_grade').val()});
          $('#new_colour').val('');
          $('#new_grade').val('');
          updateColourSets();
      })

      $(document).on('click', '[name=remove-colour-set]', (e) => {
          console.log($(e.currentTarget).closest('tr').data('colour-set-id'))
          colourSets.splice(colourSets.
      })

      const updateColourSets = () => {
          const $tbody = $('tbody');
          for(const colourSet of colourSets) {
              if($tbody.find(`[data-colour-set-id=${colourSet.id}]`).length)
                  continue;
              $tbody.append($(`<tr data-colour-set-id='${colourSet.id}'><td>${colourSet.colour}</td><td>${colourSet.grade}</td><td><button name='remove-colour-set'>-</button></td></tr>`))
          }
      }
  })
</script>
