<%
@title = "Edit #{@route_set.name}"
@back_url = route_sets_path
%>

<div class="card">
  <%= form_with url: route_set_path(@route_set), method: :patch, model: @route_set do |f| %>
    <div class="mb-3">
      <%= f.label :expires_at, { class: "form-label" } %>
      <%= f.date_field :expires_at, value: @route_set.expires_at, class: "form-control" %>
    </div>

    <%= f.submit "Edit", class: "btn btn-success" %>
  <% end %>

  <hr />

  <select id="tool" class="mb-2 form-control">
    <option>Add</option>
    <option>Remove</option>
  </select>

  <div id="map" class="map">
    <img src="/GroundFloor.png" id="floorBackground" />
  </div>
</div>

<script>
  $(() => {
    const $tool = $('#tool')

    $('#floorBackground').click(me => {
      if($tool.val() != 'Add')
        return

      const $mapImg = $('#floorBackground')
      const widthRatio = $mapImg[0].naturalWidth / $mapImg.width()
      const heightRatio = $mapImg[0].naturalHeight / $mapImg.height()

      $.post({
        url: "/routes",
        data: {
          posX: me.offsetX * widthRatio,
          posY: me.offsetY * heightRatio,
          floor: 1,
          routeSet: <%= @route_set.id %>
        },
        success: data => addRoute
      }).then(addRoute)
    })

    const $map = $('#map')
    const routes = []

    const addRoute = route => {
      route.$elem = $(`<div class="route" style="left: ${(route.pos_x / 400) * 100}%; top: ${(route.pos_y / 873) * 100}%">⭕</div>`)
      route.$elem.click(() => clickRoute(route))
      $map.append(route.$elem)
      routes.push(route)
    }

    const clickRoute = route => {
      if($tool.val() != 'Remove')
        return
      $.ajax({
        url: `/routes/${route.id}`,
        method: 'delete'
      })
      route.$elem.remove()
      routes.splice(routes.indexOf(route), 1)
    }

    <%= raw @route_set.routes.to_json %>.forEach(addRoute)
  })
</script>
