<%
@title = "Edit #{@route_set.name}"
@back_url = route_sets_path
%>

<div class="card">
  <%= form_with url: route_set_path(@route_set), method: :patch, model: @route_set do |f| %>
    <div class="mb-3">
      <%= f.label :expires_at, { class: "form-label" } %>
      <%= f.date_field :expires_at, value: @route_set.expires_at, class: "form-control" %>
    </div>

    <%= f.submit "Edit", class: "btn btn-success" %>
  <% end %>

  <hr />

  <select id="tool" class="mb-2 form-control" data-test="add-or-remove">
    <option>Add</option>
    <option>Remove</option>
  </select>

  <div style="display: flex;">
    <button id="floorplan-prev">&lt;</button>
    <span style="flex-grow: 1; text-align: center" id="floorplan_name"></span>
    <button id="floorplan-next">&gt;</button>
  </div>
  <div id="map" class="map">
    <% @place.floorplan.data.each_with_index do |floor, index| %>
      <img src="<%= url_for(@place.floorplan.images.find(floor['image_id'])) %>" class="floorplan" data-floorplan-id="<%= index %>" />
    <% end %>
  </div>
</div>

<script>
  $(() => {
    const $tool = $('#tool')
    const floorplanData = <%= raw @place.floorplan.data.to_json %>
    const nonDeletedFloorplans = floorplanData.filter(item => !item.deleted);
    let currentFloorplan;

    $('#map').click(me => {
      if($tool.val() != 'Add')
        return

      const $mapImg = $('.floorplan:visible')
      const widthRatio = $mapImg[0].naturalWidth / $mapImg.width()
      const heightRatio = $mapImg[0].naturalHeight / $mapImg.height()

      console.log(me.offsetX, me.offsetY, widthRatio, heightRatio)
      console.log(me.offsetX * widthRatio, me.offsetY * heightRatio)

      $.post({
        url: "/routes",
        data: {
          posX: me.offsetX * widthRatio,
          posY: me.offsetY * heightRatio,
          floor: currentFloorplan.id,
          routeSet: <%= @route_set.id %>
        },
        success: data => addRoute
      }).then(addRoute)
    })

    const $map = $('#map')
    const routes = []

    const addRoute = route => {
      const $floorplan = $('.floorplan:visible')
      route.$elem = $(`<div class="route" data-route-id="${route.id}" style="left: ${(route.pos_x / $floorplan[0].naturalWidth) * 100}%; top: ${(route.pos_y / $floorplan[0].naturalHeight) * 100}%" data-floor="${route.floor}">⭕</div>`)
      route.$elem.click(() => clickRoute(route))
      $map.append(route.$elem)
      routes.push(route)
    }

    const clickRoute = route => {
      if($tool.val() != 'Remove')
        return
      $.ajax({
        url: `/routes/${route.id}`,
        method: 'delete'
      })
      route.$elem.remove()
      routes.splice(routes.indexOf(route), 1)
    }

    const switchFloorplan = (floorplan) => {
      $('#floorplan_name').text(floorplan.name);
      $('.floorplan').hide();
      $('.floorplan[data-floorplan-id=' + floorplan.id + ']').show();
      $('.route').hide();
      $('.route[data-floor=' + floorplan.id + ']').show();
      currentFloorplan = floorplan;
    }

    $('#floorplan-prev').click(() => {
      const floorplans = nonDeletedFloorplans;
      const next = floorplans.indexOf(currentFloorplan)-1;
      if(next < 0)
        switchFloorplan(floorplans[[floorplans.length-1]]);
      else
        switchFloorplan(floorplans[next]);
    });

    $('#floorplan-next').click(() => {
      const floorplans = nonDeletedFloorplans;
      const next = floorplans.indexOf(currentFloorplan)+1;
      if(next >= floorplans.length)
        switchFloorplan(floorplans[0]);
      else
        switchFloorplan(floorplans[next]);
    });

    switchFloorplan(floorplanData[0]);

    $('.floorplan:visible')[0].onload = () => {
      <%= raw @route_set.routes.to_json %>.forEach(addRoute)
    };
  })
</script>
