<%
  @title = "Add Place"
  @back_url = places_path
%>

<% if @place_form.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= pluralize(@place_form.errors.count, "error") %> prohibited this place from being saved:</h4>
    <ul class="mb-0">
      <% @place_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card">
  <%= form_with url: places_path, model: @place_form do |f| %>
    <div class="mb-3">
      <%= f.label :name, { class: "form-label" } %>
      <%= f.text_field :name, class: 'form-control', data: { test: 'name' }, required: true, minlength: '4' %>
    </div>

    <%= f.submit "Add", class: "btn btn-success" %>
  <% end %>
</div>
