<!DOCTYPE html>
<html>
  <head>
    <title>aSENDit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container">
          <div class="row w-100 text-center navbar-brand m-0">
            <strong>
              <img src="/icon-40x40.png" id="icon" />
              aSENDit
            </strong>
          </div>
        </div>
      </div>
    </header>

    <main>
      <% if(climb_in_progress? && !@hide_current_climb_link) %>
      <div id="goToCurrentClimb">
        <%= link_to "Go to current climb >", climbs_current_path %>
      </div>
      <% end %>

      <div class="container py-2">
        <div class="row mt-2 mb-2">
          <% if @back_url %>
          <div class="w-25">
            <%= link_to "< Back", @back_url, { class: "btn btn-secondary btn-sm" } %>
          </div>
          <% end %>
          <h2 class="<%= @back_url ? "w-50" : "w-100" %> text-center">
            <%= @title %>
          </h2>
          <% if @extra_header %>
          <div class="w-25 text-end">
            <%= raw @extra_header %>
          </div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </main>
  </body>
</html>

<script>
$('body').on('click', '[data-toggle]', me => {
  const $toggleTarget = $(($(me.currentTarget).data('target')))

  if($toggleTarget.is(':visible')) {
    $toggleTarget.slideUp(250).closest('.card').removeClass('open')
    return
  }

  $($(me.currentTarget))
    .closest('.accordion')
    .find('[data-toggle]')
    .each((_, toggle) => $($(toggle).data('target')).slideUp(250).closest('.card').removeClass('open'))

  $toggleTarget
    .slideDown(250).closest('.card').addClass('open')
})
</script>
