<!DOCTYPE html>
<html>
  <head>
    <title>DatDepot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container">
          <a href="#" class="navbar-brand text-center">
            <strong>Harry Boyes Climbing Challenge</strong>
          </a>
        </div>
      </div>
    </header>

    <main>
      <div class="container py-2">
        <div class="row">
          <% if @back_url %>
          <div class="w-25">
            <%= link_to "<Back", @back_url, { class: "btn btn-secondary btn-sm" } %>
          </div>
          <% end %>
          <h2 class="<%= @back_url ? "w-50" : "w-100" %> text-center">
            <%= @title %>
          </h2>
          <% if @extra_header %>
          <div class="w-25">
            <%= @extra_header %>
          </div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
